@model Order
<h2>
    Izmena narudzbine #@Model.Id
</h2>
<h3>
    Status:
    @if (Model.Sent)
    {
        <span class="text-info">Poslata</span>
    }
    else
    {
        if (Model.Paused)
        {
            <span class="text-warning">Pauzirana</span>
        }
        else
        {
            <span class="text-success">U obradi</span>

        }
    }
</h3>
<div class="bg-dark p-3 rounded">

    @if (Model.OrderItems.Count() > 0)
    {
        <div class="row mt-2">
            <p class="col-3 text-light">Order number: #@Model.Id</p>

            <div class="col-3 text-light">

                @Model.DateTime.Day/@Model.DateTime.Month/@Model.DateTime.Year @Model.DateTime.Hour:@Model.DateTime.Minute
            </div>

            <div class="col-6 text-light d-flex justify-content-center">

                <div class="btn-group align-items-center">
                    @if (Model.Sent)
                    {
                        <button class="btn btn-info disabled">Poslato</button>

                    }
                    else
                    {
                        @if (Model.Paused)
                        {
                            <a asp-controller="Cart"
                               asp-action="PauseContinueOrder"
                               asp-route-id="@Model.Id"
                               class="btn btn-success">
                                Nastavi obradu
                            </a>

                        }
                        else
                        {
                            <a asp-controller="Cart"
                               asp-action="PauseContinueOrder"
                               asp-route-id="@Model.Id"
                               class="btn btn-warning">
                                Pauziraj
                            </a>

                        }

                        <a asp-controller="Cart"
                           asp-action="DeleteOrder"
                           asp-route-id="@Model.Id"
                           class="btn btn-danger">Obrisi</a>

                    }
                    <button class="btn btn-success copyToCartBtn" data-orderId="@Model.Id">Kopiraj u korpu</button>
                </div>
            </div>

        </div>



        <div class="orderInfo overflow-hidden" data-orderId="@Model.Id">

            <div class="row bg-info">
                <div class="col-3">
                    Slika
                </div>
                <div class="col-3">
                    Proizvod
                </div>

                <div class="col-1">
                    Kolicina
                </div>

                <div class="col-1">
                    Cena
                </div>

                <div class="col-1">
                    Ukupno
                </div>

                <div class="col-3 text-right text-light">
                    <b>
                        @Model.GrandTotal
                    </b>
                </div>

            </div>

            @foreach (OrderItem orderItem in Model.OrderItems)
            {
                <div class="row bg-info align-items-center">
                    <div class="col-3">

                        <img src="~/images/@(orderItem.SubProduct.Product.ShowImage != null ?
                orderItem.SubProduct.Product.Category.Slug+"/"+  orderItem.SubProduct.Product.Slug+"/"+ orderItem.SubProduct.Image
                :"noimage.png")"
                             width="50"
                             height="50" />

                    </div>
                    <div class="col-3">
                        <span>




                            <a href="@("/proizvodi" + "/" + orderItem.SubProduct?.Product?.Category?.Slug
                            + "/" + orderItem.SubProduct?.Product?.Slug)">
                                @orderItem.SubProduct.Product.Title
                            </a>
                        </span>
                    </div>
                    <div class="col-1">
                        <span>
                            @orderItem.Amount
                        </span>
                    </div>
                    <div class="col-1">
                        <span>
                            @orderItem.SubProduct.Price
                        </span>
                    </div>

                    <div class="col-1">
                        <span>
                            @{
                                double cartTotal = 0;
                            }
                            @(orderItem?.SubProduct?.Price * orderItem?.Amount)
                            @{
                                cartTotal += (double)(orderItem?.SubProduct?.Price * orderItem?.Amount);


                            }
                        </span>
                    </div>



                </div>
            }
        </div>
    }


</div>


@section scripts{
    <script>

        $(".seeProductsBtn").click(function () {


            if ($(this).hasClass("sakrij")) {
                $(this).html("Vidi proizovde &#9660;").removeClass("sakrij").addClass("vidi");
            }
            else if ($(this).hasClass("vidi")) {

                $(this).html("Sakrij proizovde &#9650;").removeClass("vidi").addClass("sakrij");
            }





            let orderId = $(this).data("orderid");

            let info = $(".orderInfo").filter((i, x) => {
                return $(x).data("orderid") == orderId;
            });



            $(info)
                .stop(true, true)
                .animate({
                    height: "toggle",
                    opacity: "toggle"
                }, 1000);

        })


    </script>

    <script>
        $(".copyToCartBtn").click(function () {
            let orderId = $(this).data("orderid");

            $.post("/cart/copyToCart/" + orderId, {}, function (data) {
                printCartItems(data);
                $("#cartHeader").removeClass("d-none");
            })
        });
    </script>
}
